h1, h2{
    font-family: 'Cormorant Garamond', serif;
}
main{
    width: 50%;
    margin: 2% auto;
}
a{
    text-decoration: none;
    color: black;
}
li{
    display: inline-block;
}
article div{
    width: 50%;
}
.article-txt p{
    font-family: serif;
}
.clear {
    clear: both;
}
.fl-left{
    float: left;
}
.fl-right{
    float: right;
}